*{
    --cor1: #5a189a; 
    --cor2: #3C096C;
    --cor3: #2a6f57;
    --cor4: #faf3dd;
    --cor5: #f4a261;
    margin: 0px; 
}
body{
    background-color: var(--cor1);
    text-align: center;

}
img{
    width: 40vw;
    margin-bottom: 20px;
}
.tela {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
}
.container {
    background: var(--cor2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error {
    color: red;
    font-size: 12px;
}
button {
    background: var(--cor5);
    color: white;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 98%;
}
.hidden {
    display: none;
}
.toggle-link {
    color: blue;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}