@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #5a189a;
  color: white;
  }
img{
  width: 300px;
}
p {
  text-align: center;
}
button#button_login {
  color: white;
  background-color: #f4a261 ;
  margin: 20px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 20px;
  font-size: 50px;
}
button#button_cadastrar {
  color: white;
  background-color: #f4a261 ;
  margin: 20px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  font-size: 50px;
}
footer{
  margin-top: 15vh;
}

p#criador {
  text-align: center;
  bottom: 0px;
  color: #f4a261;
}
