* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #5a189a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 80vw;
  height: 100vh;
  text-align: center;
  position: relative;
}
div#fundo{
  background-color: #3c096c;
  padding: 30px;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
}
.logo {
  margin-bottom: 20px;
  
}
.empresa_senha {
  display: flex;
  align-items: center;
  background-color: #ffffff96;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0px;
}
.empresa_senha img {
  width: 70px;
  height: 70px;
}
.input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #000000;
  text-align: center;
  font-size: 14px;
  flex: 1;
}
.login-button {
  background-color: #FFA64D;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  width: 60%;
}
.footer {
  margin-top: 22vh;
  color: #FFCA90;
  font-size: 12px;
}